@import url("grid.css");
@import url("typography.css");

body {
  margin: 0;
}

header {
  background-image: url('');
  background-size: cover;
  background-color: #3964FE;

  height: 100vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  color: #FFFFFF;
  margin-top: 0 !important;
}
