@import url("grid.css");
@import url("typography.css");

body {
  margin: 0;
}

header {
  background-image: url('');
  background-size: cover;
  background-color: #3964FE;

  height: 100vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  width: 100%;
  color: #8796A8;
  text-align: center;
  padding: 40px 0;
  margin: 70px auto 0 auto;
  border-top: 1px solid #eee;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0 !important;
}
