@import url("grid.css");
@import url("typography.css");

body {
  margin: 0;
}

header {
  background-image: url('');
  background-size: cover;
  background-color: #3964FE;

  height: 100vh;
  padding: 30px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 30px;
  color: rgba(0, 0, 0, .3);
}

h1 {
  color: #FFFFFF;
  text-align: center;
  margin-top: 0 !important;
}

p, ul, ol, blockquote {
  color: rgba(0, 0, 0, .8);
}
